@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    padding: 50px;
    text-align: right;
    
}

.nav-container{
    font-family: "poppins";

    position: relative;
    display: flex;
    justify-content: space-between;
    
}
nav{
    position: relative;
    right: 15px;
    display: flex;
    gap: 20px;
    justify-content: right;
}

nav a{
    text-decoration: none;
    color: white;
}
nav a:hover{
    cursor: pointer;
    color: brown;
    font-weight: 600;
}

.name{
    margin-left: 60px;
    font-weight: 600;
    font-size: 70px;
}

.first-letter{
    color:crimson;
}

.main{
    height: 100%;
    width: 100%;
    text-align: left;
    padding: 50px;
    font-family: "ubuntu";
    font-size: 100px;
    font-weight: 700;
    display: flex;
    position: relative;
    
}

.one{
    color: brown;
    margin-top: 50px;
    margin-left: 50px;

}
.two{
    margin-left: 10px;
}

.main img{
    font-size: 12px;
    font-family: sans-serif;
     width: auto;
     height: 400px;
     position: absolute;
     right: 9px;
}